<h2>Lijstje: {{shoppingList.title}}</h2>

<shopping-list-product *ngFor="#shoppingListLine of lines"
                       [shoppingListLine]="shoppingListLine"
                       (removed)="removeLine($event)"></shopping-list-product>

<hr />

<div class="row">
  <div class="col-md-6">
    <h4>Totaal: <strong>{{total() | currency:'EUR':true:'1.2-2'}}</strong></h4>
  </div>
</div>

<div class="form" class="form-inline padding-bottom">
  <select [ngModel]="stringify(selectedProduct)" (ngModelChange)="updateSelectedValue($event)" class="form-control">
    <option *ngFor="#product of products" [value]="stringify(product)">{{product.title}} {{product.price | currency:'EUR':true:'1.2-2'}}
    </option>
  </select>
  <button (click)="newShoppingListLine()" class="btn btn-primary">Toevoegen</button>
</div>
