<div class="panel panel-primary">
  <div class="panel-body panel-item">
    <div class="pull-right line-icon">
      <span *ngIf="shoppingListLine.amount > 1" class="clickable glyphicon glyphicon-minus"
              (click)="reduceAmount()"></span>
      <span *ngIf="shoppingListLine.amount === 1" class="clickable glyphicon glyphicon-trash"
              (click)="removeItem()"></span>

      &nbsp;&nbsp;
      <span class="clickable glyphicon glyphicon-plus" (click)="increaseAmount()"></span>
    </div>

    <div>
      <h4>{{shoppingListLine.product.title}}</h4>
      Prijs: {{shoppingListLine.product.price | currency:'EUR':true:'1.2-2'}}<br/>
      Aantal: {{shoppingListLine.amount}}
    </div>

  </div>
</div>
